{
    "token" : "Rename this file to 'tests_properties.json' and insert your Clima Tempo API to run all test",
    "city_id" : 3477,
    "aracaju_coords" : "-10.981982, -37.053425",
    "city_name": "ARACAJU",
    "state_abreviation": "SE",
    "country_abreviation": "BR"
}